





@media(max-width: 991px){
  .navbar-toggler {
   color: #1c1c1c;
   border-color: #1c1c1c;
}
.logo-sc img {
 height: 30px;
}
header .btn-primary{
 font-size: 11px;
}
header .btn-primary span{
display: none;
}
header .btn-primary{
  border: 0px solid gray;
  font-size: 23px;
  padding: 0;
}
header .btn-primary{
  font-size: 26px;
}
.navbar-toggler-icon {
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
 padding: 0px;
 font-size: 1.25rem;
 line-height: 1;
 background-color: transparent;
 border: 0px solid transparent;
 border-radius: .25rem;
 transition: box-shadow .15s ease-in-out;
}
div#navbarNav {
  position: absolute;
  top: 54px;
  background: rgb(0 0 0 / 76%);
  width: 100%;
  left: 0;
  right: 0;
  height: 100vh !important;
  transition: 0.0s; 
}

ul.navbar-nav.ms-auto {
  background: #eef2f5;
  height: 100%;
  width: 80%;
  margin-right: auto;
  margin-left: 0 !important;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.navbar-collapse.show ul.navbar-nav.ms-auto{
  transition: transform 0.3s ease-out;
  transform: translate(0) !important;
}
.navbar-toggler:focus{
  outline: 0;
  box-shadow: 0px 0px 0px gray;
}
header .navbar-expand-lg .navbar-nav .nav-link {
 background-color: transparent;
 padding: 19px 20px;
 font-size: 18px;
}
header .navbar-expand-lg .navbar-nav .nav-link.active{
 background-color: transparent;
}
.navbar {
 position: initial;
}
.me-5 {
 margin-right: 1rem!important;
}
.main-header nav.navbar {
 order: 3;
}
header.main-header {
 padding: 8px 0px;
}
.banner-overlay-content h2 {
 margin-bottom: 40px;
 font-size: 38px;
}
.banner-overlay-content h3 {
 font-size: 28px;
 margin-bottom: 40px;
}
section.banner-main {
 height: 81vh;
}
a.main-button{
 font-size: 16px;
 padding: 12px 40px;
}
section.quote-section h2 {
 font-size: 35px;
 font-weight: 400;
 line-height: 1.4em;
}
.ab-img-sc {
 margin-bottom: 30px;
}
.mt-f {
 margin-top: 40px;
}
.spc-content {
 padding: 0px 15px;
 text-align: center;
}
h2.heading-wi-bg {
 font-size: 35px;
 margin-bottom: 40px;
}
.spc-content {
 margin-top: 50px;
}
.be-adven .row .col-lg-6:first-child {
 order: 2;
}
.be-adven .row .col-lg-6:last-child {
 order: 1;
}
.beorignal-section {
 margin-bottom: 80px;
}
section.explore-sc{
 padding: 150px 15px;
}
.oew-widget-wrap{
 margin-bottom: 20px;
}
.oew-banner img {
max-height: 500px;
}
.main-heading-sc h2 {
 font-size: 35px;
}
.video-box {
 position: relative;
 margin-top: 30px;
}
.backf {
 background: #fff;
 padding: 60px 30px;
 height: auto;
}
footer h2 {
 font-size: 35px;
}
footer {
 height: calc(100vh - 42px);
}
.single-post-area .blog-author {
  padding:20px 8px
}
.single-post-area .blog-author img {
  margin-right:15px;
  width: 45px;
  height: 45px
}
.comments-area .comment-list .single-comment h5 {
  font-size:12px
}

.comments-area .comment-list .single-comment .date {
  font-size: 11px
}

.comments-area .comment-list .single-comment .comment {
  font-size: 10px
}
ul.blog-info-link {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: flex-start;
}
section.sub-banner-main {
  padding: 70px 0px;
  position: relative;
}
.blog_right_sidebar .single_sidebar_widget {
  background: #fbf9ff;
  padding: 0px;
  margin-bottom: 30px;
}
.like-bx {
  width: 45px;
  height: 45px;
  background: #ffffff;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: -6%;
  margin-left: auto;
  margin-right: 5%;
  position: relative;
  box-shadow: 0px 0px 5px #00000033;
  /* border: 2px solid gray; */
  color: gray;
}
.bookmark-bx {
  width: 45px;
  height: 45px;
  background: #ffffff;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: -11%;
  margin-left: auto;
  margin-right: 21%;
  position: relative;
  box-shadow: 0px 0px 5px #00000033;
  /* border: 2px solid gray; */
  color: gray;
}
.banner-overlay-content {
  text-align: center;
  color: #fff;
  padding: 0px 50px;
}
.login-box {
  width: 90%;
  margin: auto;
}
.tab-content .file-upload {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.tab-content .file-upload .file .file-custom {
  left: 21%;
}
section.profile-section {
  padding: 40px 0px;
}
.featured-img{
  height: auto;
}
.logo-sc {
  order: 2;
}
nav.navbar.navbar-expand-lg {
  order: 1;
}
.d-flex.align-items-center {
  order: 3;
}



.main-header{
  z-index: 9999;
}

.pwa-nav-container {
  background: #eef2f5;
  padding: 20px 15px;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  /* box-shadow: 0px 0px 10px #0000002e; */
}
.pwa-nav ul {
  display: flex;
  gap: 0px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  padding: 0px 20px;
}
.pwa-nav ul li {
  display: block;
  text-align: center;
  /* flex: 33.33%; */
}
.pwa-nav ul li {
  font-size: 13px;
}
.pwa-nav ul li i {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
}


@media (min-width: 992px) and (max-width: 1024px){
 h2.heading-wi-bg {
   font-size: 35px;
   margin-bottom: 40px;
 }
 .spc-content {
   padding: 0px 40px;
   text-align: center;
}
.backf {
 padding: 100px 30px;
 height: auto;
}

}








@media (max-width: 991px) {
  header .navbar-expand-lg .navbar-nav .nav-link.active {
      color: #21d8de;
      /* color: #fff; */
  }
}


@media (max-width: 991px) {
  .navbar-toggler-icon {
      background-image: initial;
  }
  button.navbar-toggler i.fa-solid.fa-bars {
    display: none;
  }
  button.navbar-toggler.collapsed i.fa-solid.fa-xmark {
    display: none;
}
button.navbar-toggler.collapsed i.fa-solid.fa-bars {
  display: block;
}
span.navbar-toggler-icon i {
  font-size: 27px;
  color: #333333;
}
.navbar, .navbar * {
  outline: none !important; /* Remove outline */
  border: none !important; /* Ensure no borders are applied */
  box-shadow: none !important;
}
a.btn.btn-primary i {
  color: #333333;
}
header .btn-primary:hover {
  background-color: #fff0;
  border-color: #0000;
  outline: none;
}
}



@media(max-width:767px){
  .blog-stats span {
    display: initial;
    margin-bottom: 0px;
    font-size: 14px;
    margin-right: 9px;
}
.forumlist .col-lg-2.col-9 {
  margin-left: auto;
  margin-top: 6px;
}
.forum-list-head {
  font-size: 15px;
  margin-bottom: 10px;
}
.f-user-details {
  border-radius: 5px;
  text-align: left;
  margin: initial;
  background: #21d8de17;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 20px;
  margin-bottom: 15px;
}
.f-user-details small {
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 0;
  display: inline-block;
}
}




@media(max-width: 767px){
  .searchContainer{
    width: 90%;
  }
  .activiti_details p {
    display: none;
}
.activiti_details h2 {
  font-size: 15px;
}
article.activities_item  .blog-info-link li {
  font-size: 13px;
}
.activiti_item_img img {
  border-radius: 5px;
  height: 185px;
  min-height: 150px;
  width: 150px;
  min-width: 150px;
  object-fit: cover;
}
article.activities_item {
  padding: 10px 15px;
}
.activity-section {
  flex-wrap: wrap;
}
.rv-main {
  flex-wrap: wrap;
  gap: 40px;
}
.rv-rwo {
  width: 100%;
  border-right: 0px solid #00000021;
  padding: 0px;
}
.rv-two {
  width: 100%;
  padding: 0px;
}
button.btn.btn-primary.city-button {
  background: #13524c;
  border: #13524c;
  color: #fff;
  bottom: 180px;
  transform: rotate(-90deg);
  right: -88px;
  font-size: 16px;
}
.forum_block.back-gr.forum-list-head {
  display: none;
}
}
